*{
    margin: 0;
    padding: 0;
    font-family: "RecMonoLinear Nerd Font";
}

body{
    background: linear-gradient(#f3463a,#ff574f,#808080); /* light: #f38f76 */
}

h1,h4{
    color: #fff;
    margin: 10px 0;
}

body .title{
    text-align: center;
}

.myprofile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px;
    padding: 110px;
    background-image: url(./w-light.png);
    background-origin: border-box;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 3px 3px 2px 1px #242424;
}

.about-profile{
    text-align: left;
}

.about-profile button{
    text-decoration: none;
    margin: 10px 0;
    padding: 15px;
    font-size: 0.9em;
    font-weight: bolder;
    width: 80px;
    background-color: #fff;
    border: none;
    color: #ff635b;
    border-radius: 12px;
    transition: 100ms ease-in-out;
}

.about-profile button:hover{
    border: none;
}

.img-profile{
    width: 30%; 
    border-radius: 100%;
    border: 6px solid #fff;
    /* border-radius: 10px; */
}

.myproject{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.card{
    display: flexbox;
    justify-content: center;
    background-color: beige;
    padding: 20px;
    margin: 20px;
    width: 220px;
    border-radius: 20px;
}

.card h3{
    font-size: 0.5em;
}

.card p{
    font-size: 0.9em;
}

.card img{
    margin-bottom: 10px;
    width: auto;
}